#root {
  margin: 0 0;
}

.spotifyGreenText {
  color:#1DB954; /* Spotify Green */
}

.spotify-themeify-btn {
  background-color: #1DB954;
  border-color: rgb(44, 160, 33);
}

.spotify-themeify-btn:hover {
  background-color: #47ce76;
  border-color: #FFF; 
}