@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  border-color: #38ca69;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #33bb27;
  }
  button {
    background-color: #f9f9f9;
  }
}

.spotifyGreenText {
  color:#1DB954; /* Spotify Green */
}

.spotify-themeify-btn {
  background-color: #1DB954;
  border-color: rgb(44, 160, 33);
}

.spotify-themeify-btn:hover {
  background-color: #47ce76;
  border-color: #FFF; 
}
